<section>
  <md-toolbar class="md-primary md-hue-2">
    <div class="md-toolbar-tools breadcrumbs">
      <a href="/">Projects</a>

      <md-icon>keyboard_arrow_right</md-icon>

      <a href ng-click="editProject()">Edit {{ projectName }}</a>

      <md-icon>keyboard_arrow_right</md-icon>

      <span flex>Log</span>
    </div>
  </md-toolbar>

  <md-card flex="70" flex-offset="15">
    <md-list class="projects-list">
      <md-list-item ng-repeat="projectLogger in projectLoggers">
        <md-icon class="md-warn" ng-show="projectLogger.severity == 'FATAL'"
          >error</md-icon
        >

        <md-icon class="md-warn" ng-show="projectLogger.severity == 'ERROR'"
          >error</md-icon
        >

        <md-icon class="md-warn" ng-show="projectLogger.severity == 'WARNING'"
          >warning</md-icon
        >

        <md-icon class="md-primary" ng-show="projectLogger.severity == 'INFO'"
          >info</md-icon
        >

        <md-icon class="md-warn" ng-show="projectLogger.severity == 'DEBUG'"
          >bug_report</md-icon
        >

        <md-icon class="md-warn" ng-show="projectLogger.severity == 'TRACE'"
          >search</md-icon
        >

        <span
          class="md-caption"
          style="padding-left: 10px; color: rgba(0,0,0,0.54); flex: 1;"
        >
          {{ projectLogger.severity }}
        </span>

        <span class="md-caption" style="flex: 2; color: rgba(0,0,0,0.54);">
          {{ projectLogger.updatedAt | date: "short" }}
        </span>

        <span class="md-body-2" style="flex: 8;">
          {{ projectLogger.message }}
        </span>

        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </md-card>

  <div class="pagination" flex="70" flex-offset="15">
    <md-button
      ng-disabled="!hasPrevious"
      class="md-primary"
      ng-click="previous()"
    >
      <md-icon>keyboard_arrow_left</md-icon>
    </md-button>

    <md-button ng-disabled="!hasNext" class="md-primary" ng-click="next()">
      <md-icon>keyboard_arrow_right</md-icon>
    </md-button>
  </div>
</section>
