<section>
  <md-toolbar class="md-primary md-hue-2">
    <div class="md-toolbar-tools breadcrumbs">
      <a href="/">
        Projects
      </a>

      <md-icon>keyboard_arrow_right</md-icon>

      <span flex>New project</span>
    </div>
  </md-toolbar>

  <md-card flex="70" flex-offset="15" layout-padding>
    <form name="projectForm" ng-submit="save()">
      <md-input-container class="md-block">
        <label>Name</label>
        <input
          type="text"
          required
          md-maxlength="140"
          name="name"
          ng-model="name"
        />
        <div ng-messages="projectForm.name.$error" role="alert">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">
            The description must be less than 140 characters long.
          </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Profile ID</label>
        <input type="text" required name="profileId" ng-model="profileId" />
        <div ng-messages="projectForm.profileId.$error" role="alert">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <div>
        <md-button class="md-raised md-primary" type="submit">Save</md-button>
        <a href="/" class="md-button md-secondary">Cancel</a>
      </div>
    </form>
  </md-card>
</section>
